<div id="image-row" class="row">
  <div class="col-md-12" style="padding-left: 0; padding-right: 0">

    <div class="image_container">
      <video id="main-image" class="video" autoplay="" muted="" loop="">
        <source src="../../assets/video/runner.mp4" type="video/mp4" width="400%">
      </video>

      <div id="text-container" class="text-center">
        <div class="m-t-xxl m-b-xxl padder-v">
          <h1 id="main-text" class="font-bold l-h-1x m-t-xxl m-b-xxl text-white">
            Find and book your next race
          </h1>
          <div
            class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12 offset-sm-0 col-12 offset-0">
            <searchbar></searchbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container">
    <div class="m-t-l m-b-l text-center wrapper">
      <h2 class="text-black font-bold">Finding a race shouldn’t be an event itself! </h2>
      <h5>
        Mustrace.com pulls together all of the best endurance events from across the UK making it easy to search, find
        and book your next challenge.<br/>
        Completing it? That's down to you.
      </h5>
    </div>
    <div class="row m-t-xl text-center">
      <card title="Marathons" tag="Marathons" url="/#/search;sport_id=1">
        <img
          class="img-full activated"
          src="../../assets/img/dist/Marathon-cover.jpg"
          alt="…"/>
      </card>
      <card title="Virtual" tag="Virtual" url="/#/search;name=Virtual">
        <img
          class="img-full"
          src="../../assets/img/dist/virtual-cover.jpg"
          alt="…"/>
      </card>
      <card title="Swimming" tag="Swimming" url="/#/race-types/coming-soon/3338a647cd">
        <img
          class="img-full"
          src="../../assets/img/dist/swimming-cover.jpg"
          alt="…"/>
      </card>
      <card title="Triathlons" tag="Triathlon" url="/#/race-types/coming-soon/6d5fb1a6ab">
        <img
          class="img-full"
          src="../../assets/img/dist/triathlon-cover.jpg"
          alt="…"/>
      </card>
      <card title="Mud Runs" tag="MudRuns" url="/#/race-types/coming-soon/a00da9ae47">
        <img
          class="img-full"
          src="../../assets/img/dist/mudruns-cover.jpg"
        />
      </card>
      <card title="Cycling" tag="Cycling" url="/#/race-types/coming-soon/4b594be713">
        <img
          class="img-full"
          src="../../assets/img/dist/cycling-cover.jpg"
          alt="…"/>
      </card>
    </div>
  </div>
</div>

<app-footer></app-footer>
